.cards-grid{
    margin: auto;
    margin-top: 51px;
    max-width: 880px;
    min-width: 282px;
    width:max-content;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    column-gap: 17px; /*выразить?*/
    row-gap: 20px;
}

@media screen and (max-width: 900px) {
    .cards-grid {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
    }
}
@media screen and (max-width: 590px) {
    .cards-grid {
        margin-top: 36px;
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 361px);
    }
}