.popup__button-save {
    width: 100%;
    min-height: 50px;
    margin: auto;
    margin-top: 18px;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__button-save:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen  and (max-width: 590px) {
    .popup__button-save {
        margin-top: 15px; /*FIXME*/
        font-size: 14px;
        line-height: 17px;
        min-height: 46px;
    }
}