@import url('./vendor/normalize.css');

@import url('./vendor/fonts/inter.css');

/*////////*/
@import url('./blocks/page/page.css');
/*///header///*/
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
/*////content/////*/
@import url('./blocks/content/content.css');
/*//////profile////*/
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__avatar-button/profile__avatar-button.css');
@import url('./blocks/profile/__avatar-pencilimg/profile__avatar-pencilimg.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__person/profile__person.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__name-subline/profile__name-subline.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
/*///////cards-grid/////*/
@import url('./blocks/cards-grid/cards-grid.css');
@import url('./blocks/cards-grid/__item/cards-grid__item.css');
@import url('./blocks/cards-grid/__trash-button/cards-grid__trash-button.css');
@import url('./blocks/cards-grid/__trash-button/_disabled/cards-grid__trash-button_disabled.css');
@import url('./blocks/cards-grid/__trash-fimg/cards-grid__trash-fimg.css');
@import url('./blocks/cards-grid/__trash-simg/cards-grid__trash-simg.css');

@import url('./blocks/cards-grid/__image/cards-grid__image.css');
@import url('./blocks/cards-grid/__underline/cards-grid__underline.css');
@import url('./blocks/cards-grid/__text/cards-grid__text.css');
@import url('./blocks/cards-grid/__likes/cards-grid__likes.css');
@import url('./blocks/cards-grid/__like-button/cards-grid__like-button.css');
@import url('./blocks/cards-grid/__like-button/_active/cards-grid__like-button_active.css');
@import url('./blocks/cards-grid/__like-counter/cards-grid__like-counter.css');
/*/////////footer///////*/
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/*/////////popup////////*/
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_active/popup_active.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__button-close/popup__button-close.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__section/popup__section.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input-delCard/popup__input-delCard.css');
@import url('./blocks/popup/__input-text/popup__input-text.css');
@import url('./blocks/popup/__input-error/popup__input-error.css');
@import url('./blocks/popup/__input-error/_active/popup__input-error_active.css');
@import url('./blocks/popup/__button-save/popup__button-save.css');
@import url('./blocks/popup/__button-save-delCard/popup__button-save-delCard.css');
@import url('./blocks/popup/__button-save/_inactive/popup__button-save_inactive.css');
@import url('./blocks/popup/__container-image/popup__container-image.css');
@import url('./blocks/popup/__huge-image/popup__huge-image.css');
@import url('./blocks/popup/__image-text/popup__image-text.css');
/*////////////registration////////////*/
@import url(./blocks/registration/registration.css);
@import url(./blocks//registration/__container/registration__container.css);
@import url(./blocks/registration/__title/registration__title.css);
@import url(./blocks/registration/__form/registration__form.css);
@import url(./blocks/registration/__form-section/registration__form-section.css);
@import url(./blocks/registration/__input-text/registration__input-text.css);
@import url(./blocks/registration/__input-error/registration__input-error.css);
@import url(./blocks/registration/__button-save/registration__button-save.css);
@import url(./blocks/registration/__down-buttons/registration__down-buttons.css);
@import url(./blocks/registration/__button-login/registration__button-login.css);
/*/////////popup_registration-img////////*/
@import url(./blocks/popup/__registration-image/popup__registration-image.css);
@import url(./blocks/popup/__title/_registration/popup__title-registration.css);
/*/////////headerAdded////////*/
@import url(./blocks/header/__button.css);/**/
@import url(./blocks/header/__emailPlace/header__emailPlace.css);/**/
@import url(./blocks/header/__data-button/header__data-button.css);

body{
    width: 100%;
    margin: 45px auto;
    background-color: #000000; /*FIXME*/
}
