.page {
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    margin: 45px auto;
    background-color: #000000; /*FIXME*/
    font-family: 'Inter', 'Arial', sans-serif;
    /*Подгонка размера текста */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    /*Сглаживание*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*рендеринг*/
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 500px) {
    .page {
        margin: 26px auto;
    } 
}